@font-face {
  font-family: "ssadec";
  src: url("../fonts/ss_adec.otf") format("opentype");
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/OsJ2DjdpjqFRVUSto6IffD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

body{
background-color:#FAFAFA;
}

/* logo */

#logo {
  position:fixed;
  top:0px;
  left:0px;
  margin-top: 8px;
  margin-bottom: 20px;
  margin-left: 15px;
  width: 7%;
  -webkit-font-smoothing: antialiased;
}

#logo .express {
  display: block;
  font-family: 'Ubuntu' !important;
  font-style: normal;
  font-weight:400;
  font-size: 37px;
  margin-left:40px;
  color: #353535;
  width: 100%;
}

.setbehind {
	opacity:0.2;
	overflow:hidden;
	font-size:90px;
	position: absolute;
	top:0px;
	height:52px;
	z-index:-1;
}

.center {
left:50%;
}

#logo .description {
  position: relative;
  top: -5px;
  font: 100 60px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #cecece;
  line-height: .75;
}

#logo em {
  font-style: normal;
  font-weight: 100;
  font-size: 9px;
  color: #999;
  margin-left: 5px;
}

#logo a {
  color: #cecece;
}

#logo a:hover {
  text-decoration: none;
  color: #858585;
}
.navwrapper{
	overflow:hidden;
}
.inner header {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(255,255,255,.9);
	width: 100%;
	height: 60px;
	z-index: 100;
}
.headernav {
	margin-right:250px;
	position:relative;
}
.headernav li{
	display:list-item;
	list-style:none;
	float:left;
	overflow:hidden;
	height:30px;
}
.headernav a {
  position:relative;
  font-size: 15px;
  font-family: 'Open Sans';
  color: #7B838A;
  padding: 0px 20px;
  border-right:2px dotted #eee;
  border-bottom:3px solid #3c948b;
  display:inline-block;
  height:33px;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.headernav a.last{
	border-right:none;
}
.headernav a:hover, .headernav a.selected{
	text-decoration:none;
	color:#3c948b;
	height:30px;
}
.headernav a.selected{
	color:#7B838A;
	font-weight:bold;
}
.headernav:before{
	content:'';
	display:inline-block;
	vertical-align:middle;
	height:100%;
}
.searchbar::before{
	content:'';
	display:inline-block;
	vertical-align:middle;
	height:100%;
}
.searchbar{
	position:absolute;
	right:30px;
}
.searchbar input{
	top:-5px;
	display:inline-block;
	vertical-align:middle;
	z-index:99;
	width:200px;
	-webkit-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}
.searchbar.expand input{
	width:800px;
	background: transparent;
	border: 0;
	border-style: none;
	border-color: transparent;
	outline: none;
	outline-offset: 0;
	box-shadow: none;
	padding-left:3em;
}
.searchbar input:focus{
	-webkit-box-shadow:none;
	box-shadow: none;
}
.searchbar i{
z-index:100;
position:absolute;
opacity:0;
top:20px;
}
.searchbar.expand i.fa-times{
	right:10px;
}
.searchbar.expand i.fa-times:hover{
	cursor:pointer;
}
.searchbar.expand i{
	opacity:0.5;
}
.results{
	background-color:rgba(23,23,23,.85);
	position:relative;
	display:block;
}
.clear{
	clear:both;
}
.srtitle{
	font-style:italic;
	font-weight:300;
}
.results li{
	list-style:none;
	border-bottom:1px solid #6d6c6c;
	margin:0px 20px;
	color:#fff;
}
/*.results li:hover{
	background-color:#6d6c6c;
	color:#171717;
}*/
.results a{
	display:block;
}
a:hover{
	text-decoration:none;
	cursor:pointer;
}
.results .selected{
	background-color:#6d6c6c;
}
.results p{
	margin:0px 10px 0px 10px;
}
.inner header {
	border-bottom: 1px solid #ddd;
	box-shadow: 0 0 4px #eee;
}
.nav-item.selected{
	border-bottom: 3px solid #3c948b;
}
/*side nav*/
nav.side{
max-width:150px;
}
.side-nav{
	position:fixed;
	float:left;
	display:inline;
	top:80px;
	left:30px;
	margin-left:0px;
	width:auto;
	min-length:100px;
}
.side-nav a{
	-webkit-transition: margin-left .15s ease-in-out;
	-o-transition: margin-left .15s ease-in-out;
	-moz-transition: margin-left .15s ease-in-out;
	transition: margin-left .15s ease-in-out;
}
.side-nav a.active{
	color:#3c948b;
	font-weight:bold;
	opacity:1;
}
.side-nav a:hover{
	text-decoration:none;
	cursor:pointer;
	opacity:1.0;
	color:#3c948b;
	margin-left:10px;
}
.side-nav a:focus{
	color:#3c948b;
}
.side-nav-link{
display:block;
color: #171717;
opacity:0.6;

}
.side-nav-label{
font-size:13px;
color: #171717;
text-decoration:none;
position:relative;
display:inline-block;
padding-left:10px;
line-height:4em;
}
button.vapor-color{
color:#3c948b;
}
button.vapor-color:hover{
color:#fff;
background-color:#3c948b;
border-width:0px;
}
a.vapor-color{
color:#fff;
}
a.vapor-color:hover{
color:#4B4848;
}
/*modal newvapor*/
.icon-crop{
	position:absolute;
	z-index:1;
	left:-60px;
	top:40px;
}
.icon-crop i{
	opacity:0.2;
	color: #AAAAAA;
	font-size:250px;
}
.modal-content{
	overflow:hidden;
}
.btn-module{
width:100%;
}
/*vapor display*/
.sum-text{
font-size:16px;
}
.no-margin{
	margin: 0px;
}
.fa-1x5{
font-size:1.5em;
vertical-align:middle;
}
.ib{
display: inline-block;
}
#vapor-link{
display: inline-block;
margin:0px 10px;
}
/*vapor search*/
.form-handle{
	width:auto;
	height:20px;
	text-align:center;
	background-image:url('../images/white_carbon.png');
	display:none;
	opacity:0.8;
}
.form-handle:hover{
	cursor:pointer;
	opacity:1;
}
/*vapor edit*/
.vapor-link{
	margin-left:10px;
	cursor:pointer;
}
.panel-sm{
	padding:6px 12px;
}
.x2{
	font-size:1.2em;
	height:2em;
}
.no-margin{
	margin:0px 0px;
}
.vcenter{
text-align:center;
}
.f-lg{
	font-size:1em;
}
.ta {
  transition: height 0.2s;
  -webkit-transition: height 0.2s; 
  -moz-transition: height 0.2s; 
}
.full-width{
	width:auto;
}
.panel-heading{
	line-height:2em;
}
.invisible-input-100{
	width:100%;
	border:none;
}
.invisible-input-90{
	width:90%;
	border:none;
}
.invisible-input-60{
	width:60%;
	width:60%;
	border:none;
}
.tmargin{
margin-top:2%;
}
.vertical-cent{
	float:none;
    display:inline-block;
    vertical-align:middle;
  }
.owner-avatar{
	width:80%;
	float:right;
	box-shadow: 1px 2px 2px #888888;
}
.list-group-item.file-list:first-child{
	border-top-left-radius:0px !important;
	border-top-right-radius:0px !important;
	border-top-width: 0px;
}
a.file-list{
overflow:hidden;
}
.file-list .fa-times-circle{
	font-size:20px;
}
.btn-file-remove{
	width:auto;
	height:inherit;
	display:inline-block;
}
/*body content*/
.container{
	position:relative;
	margin-left:150px;
}
th .fa-stack{
	width:15px;
	height:15px;
	vertical-align:middle;
	line-height:1em;
}
th .fa-stack i {
	font-size:0.8em;
	width:10px;
	height:10px;
}
th .btn{
padding-right:3px;
padding-left:6px;
padding-top:4px;
padding-bottom:4px;
}
#vaporList, #advSearch {
	margin-top:30px;
}
#vaporListTable thead th{
min-width:120px;
}
.dropdown-menu > li:hover{
	background-color:#6aaca5;
	color:#fff;
	cursor:pointer;
}
.dropdown-menu > li{
	padding:3px 20px;
	font-weight:normal;
}
.btn-group > .btn + .dropdown-toggle{
	padding-right:4px;
	padding-left:4px;
}
table {
	table-layout:a;
}
.inner {
margin-top: 60px;
}
#content {
margin-bottom: 80px;
float:left;
}
thead button i{
font-size:11px;
display:inline-block;
}
thead button{
vertical-align:middle;
display:inline-block;
}
#module-banner{
	background:burlywood url(/images/rulebanner_clear.png) no-repeat;
	background-size:cover;
	overflow:hidden;
	height:150px;
}
/*vaporview*/
#module-banner{
	position:relative;
}
.vaporInfo{
	position:absolute;
	bottom:20px;
	margin-left:15px;
	color:#fff;
	display:inline;
}
.vaporInfo > h3,span{
	vertical-align:middle;
	display:inline;
}
.vapor-label{
	background-color:#4B4848;
}
.devInfo{
	position:absolute;
	right:20px;
	bottom:10px;
	color:#fff;
	display:inline;
}
.person > img,h5{
	float:none;
	vertical-align:middle;
	display:inline;
	margin-right:10px;
}
.person:first-child{
	padding-bottom:5px;
	min-width:100px;
	box-shadow: 0 -1px 0 rgb(0, 0, 0) inset, 0 1px 0 rgb(255, 255, 255);
	box-shadow: 0 -1px 0 rgba(0, 0, 0, .20) inset, 0 1px 0 rgba(255, 255, 255, .05);
}
.person > .row > div:first-child{
	border-right:1px inset antiquewhite;
}
.person{
	margin: 10px 0px;
}
.person div{
	margin-bottom:3px;
}
.person a {
	color:#fff;
}
.devInfo img{
	width:30px;
}
.btn-tiny{
	padding:2px 3px;
	background:transparent;
	color:#fff;
	border:1px solid #fff;
	border-radius:3px;
}
/*post*/
.postcontent {

}
.votecontent {
	width: 60px;
	vertical-align: top;
}
.vote{
width:60px;
font-size:30px;
text-align:center;
color:#818185;
}
.vote-count{
margin:-10px 0px;
}
#post-title {
	padding-bottom: 9px;
	margin: 40px 0 20px;
	border-bottom: 1px solid #eee;
	width:960px;
}
.tags{
	position:relative;
}
section > img{
	padding-bottom:10px;
}
.tag { 
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 5px;
  float: left;
  width: auto;
}


.show-grid{
border-width: 1px;
border-radius: 2px;
background-color: rgba(86,61,124,0.15);
}
/* user */
.stamp {
	width: 100%;
	height:auto;
	text-align:left;
	vertical-align:top;
	font-size:12px;
}
.avatar-details {
	height:auto;
	display:inline-block;
	text-align:left;
	vertical-align:top;
	margin-left:5%;
	overflow: auto;
}
.reputation {
	text-align:left;
	padding-right:10px;
}
span#gold,#silver,#bronze{
	padding-right:5px;
}
i.gold{
	color:#CC9900;
	text-shadow: 1px 1px 1px #303030;
}
i.silver{
	color:#8B8A8C;
	text-shadow: 1px 1px 1px #303030;
}
i.bronze{
	color:#996633;
	text-shadow: 1px 1px 1px #303030;
}
