<section id="logo"><i class="fa fa-cog fa-4x setbehind"></i><a href="./" class="express">sascoms</a></section>
<div class="navbar-wrapper">
<ul id="navmenu">
	<li class="nav-item"><a href="#/3x/api.html">ticket</a></li>
	<li class="nav-item"><a href="#/guide.html" class="active">reports</a></li>
	<li class="nav-item"><a href="#/applications.html">utilities</a></li>
	<li class="nav-item selected"><a href="#/community.html">vapor</a></li>
	<li class="nav-item"><a href="#/faq.html">amhs</a></li>
	<li class="nav-item"><a href="#/faq.html">admin</a></li>
	<li class="nav-item navsearch">
		<form class="navbar-right" role="search">
			<input type="text" class="form-control" placeholder="search vapor">
		</form>
	</li>
</ul>
</div>
