<section id="logo"><i class="fa fa-cog fa-4x setbehind"></i><a href="/" class="express">sascoms</a></section>
<div class="searchbar pull-right">
	<i class="fa fa-2x fa-search"></i>
	<input type="text" class="form-control" placeholder="search vapor"></input>
	<i class="fa fa-2x fa-times"></i>
	<div class="clear"></div>
</div>
<div class="headernav pull-right">
	<ul>
		<li><a href="#/3x/api.html">ticket</a></li>
		<li><a href="#/guide.html" class="active">reports</a></li>
		<li><a href="#/applications.html">utilities</a></li>
		<li><a class="selected" href="#/community.html">vapor</a></li>
		<li><a href="#/faq.html">amhs</a></li>
		<li><a href="#/faq.html">admin</a></li>
	</ul>
</div>
