<a class="side-nav-link" id="myvapors">
	<i class="fa fa-fire fa-2x"></i> 
	<div class="side-nav-label">my vapors</div>
</a>
<a class="side-nav-link" id="searchlink">
	<i class="fa fa-search fa-2x"></i> 
	<div class="side-nav-label">search</div>
</a>
<a class="side-nav-link" data-toggle="modal" data-target="#myModal">
	<i class="fa fa-plus-square fa-2x"></i> 
	<div class="side-nav-label">new vapor</div>
</a>
<a class="side-nav-link">
	<i class="fa fa-bar-chart-o fa-2x"></i> 
	<div class="side-nav-label">pra</div>
</a>
<a class="side-nav-link">
	<i class="fa fa-cog fa-2x"></i> 
	<div class="side-nav-label">settings</div>
</a>
<a class="side-nav-link">
	<i class="fa fa-wrench fa-2x"></i> 
	<div class="side-nav-label">admin</div>
</a>