<div class="panel panel-default">
	<div class="panel-heading">
		<span class="h4">RULEpkg Standardization Full Auto<span>
		<h3 class="no-margin pull-right"><span class="label label-default">001</span></h3>
		<a href="#" id="vapor-link" class="vapor-color" title="display child/parent vapors"><i class="fa fa-link fa-1x5 pull-right ib"></i></a>
	</div>
	<div class="panel-body">
	<span class="pull-right"><a href="#" class="btn btn-default vapor-color"><span class="glyphicon glyphicon-edit"></span> edit</a></span>
	<ul class="nav nav-tabs" id="myTab">
	  <li class="active"><a href="#home" data-toggle="tab">Main</a></li>
	  <li><a href="#admin" data-toggle="tab">Owners</a></li>
	  <li><a href="#docs" data-toggle="tab">Docs</a></li>
	  <li><a href="#pi-ctrl" data-toggle="tab">PI Ctrl</a></li>
	</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="home">
				<div class="row tmargin">
					<label class="col-sm-1 control-label" for="status">status</label>
					<div class="col-sm-11">
						<ol class="breadcrumb">
							<li>dev</li>
							<li>drb</li>
							<li class="active">release</li>
							<li class="active">monitoring</li>
						</ol>
					</div>
				</div>
				<form>
					<div class="row">
						<div class="col-sm-10">
							<div class="form-group">	
								<div class="row">
									<div class="form-group">
										<label class="col-sm-2 control-label" for="summary">summary</label>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<div class="panel panel-default">
											<div class="panel-body">
											<p class="sum-text">This is a test, an example, a sample of text of words of characters strung together to fill this box<br>gravy<p>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="form-group">
								<div class="row">
									<label class="col-sm-2 control-label" for="title">as-is</label>
									<label class="col-sm-2 col-sm-offset-4 control-label" for="title">to-be</label>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<div class="well well-sm">
										<p>here's a bunch of text blah</p>
										<p>here's a bunch of text blah</p>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="well well-sm">
										<p>here's a bunch of text blah</p>
										<p>here's a bunch of text blah</p>
										</div>
									</div>
								</div>
							</div><!--form-group-->
						</div><!--col-sm-10-->
						<div class="col-sm-2">
							<div class="row">
								<div class="col-sm-12">
									<div class="list-group">
									  <div class="list-group-item">
										<b class="list-group-item-heading">workflow</b>
										<p class="list-group-item-text">task</p>
									  </div>
									  <div class="list-group-item">
										<b class="list-group-item-heading">priority</b>
										<p class="list-group-item-text">1</p>
									  </div>
									  <div class="list-group-item">
										<b class="list-group-item-heading">customer</b>
										<p class="list-group-item-text">mbow</p>
									  </div>
									</div>
								</div>
							</div>
						</div><!--col-sm-2-->
					</div><!--row-->
					<div class="row">
						<div class="col-sm-12">
						<hr/>
						<h4>recent activity</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>datetime</th>
										<th>userid</th>
										<th>comment</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>5/5/2014 15:41:33</td>
										<td>svedamanikam</td>
										<td>here is a comment about nothing important, vapor modified for example</td>
								</tbody>
							</table>
						</div>
					</div>
				</form>
			</div><!--tabpane #main-->
			<div class="tab-pane" id="admin">
				<div class="row tmargin">
					<div class="form-group">
						<div class="col-sm-4">
							<table class="table table-hover">
								<thead>
									<th>main module</th>
									<th>owner</th>
								</thead>
								<tbody>
									<td>RULEpkg</td>
									<td>cangell</td>
								</tbody>
							</table>
						</div>
						<div class="col-sm-4">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>submodules</th>
										<th>owners</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>ADS</td>
										<td>sgentry</td>
									</tr>
									<tr>
										<td>WORKMAN</td>
										<td>dferris</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div><!--form-group-->
				</div>
				<div class="row">
					<hr/>
					<h4 class="col-md-3">pi owner</h4>
				</div>
				<div class="row">
					<div class="col-sm-1 vertical-cent">
						<img src="http://lorempixel.com/100/100/people" class="img-circle owner-avatar">
					</div>
					<div class="col-sm-3 vertical-cent">
						<p class="no-margin">jmahmood</p>
					</div><!-- /col-sm-3 -->
				</div>
				<hr/>
				<div class="row">
					<h4 class="col-md-3">tr owner</h4>
				</div>
				<div class="row">
					<div class="col-sm-1 vertical-cent">
						<img src="http://lorempixel.com/100/100/people" class="img-circle owner-avatar">
					</div>
					<div class="col-sm-3 vertical-cent">
						<p class="no-margin">sung hoon ko</p>
					</div><!-- /col-sm-3 -->
				</div>
				<hr/>
			</div><!--tab-pane #admin-->
			<div class="tab-pane" id="docs">
				<form action="/file-upload"	class="dropzone" id="my-awesome-dropzone"></form>
				<div class="list-group">
				  <a href="#" class="list-group-item file-list">
					 <div class="row">
						<div class="col-sm-7">GETMEASURESLOTID.sql</div>
						<div class="col-sm-3" id="file_date">
							<em>uploaded 2/21/2014 12:31:44</em>
						</div>
						<div class="col-sm-1" id="file_size">
							<b>2Kb</b>
						</div>
						<div class="btn-file-remove vapor-color col-sm-1">
							<i class="fa fa-times-circle"></i>
						</div>
					 </div>
				  </a>
				  <a href="#" class="list-group-item file-list">
				  <div class="row">
						<div class="col-sm-7">ProcInfo.properties</div>
						<div class="col-sm-3" id="file_date">
							<em>uploaded 2/21/2014 12:31:44</em>
						</div>
						<div class="col-sm-1" id="file_size">
							<b>2Kb</b>
						</div>
						<div class="btn-file-remove vapor-color col-sm-1">
							<i class="fa fa-times-circle"></i>
						</div>
					 </div>
				  </a>
				  <a href="#" class="list-group-item file-list">
				  <div class="row">
						<div class="col-sm-7">Jelly.sh</div>
						<div class="col-sm-3" id="file_date">
							<em>uploaded 2/21/2014 12:31:44</em>
						</div>
						<div class="col-sm-1" id="file_size">
							<b>2Kb</b>
						</div>
						<div class="btn-file-remove vapor-color col-sm-1">
							<i class="fa fa-times-circle"></i>
						</div>
					 </div>
				  </a>
				</div>
			</div><!--tab-pane #docs-->
			<div class="tab-pane" id="pi-ctrl">
			</div><!--tab-pane #pi-ctrl-->
		</div><!--tabcontent-->
	</div><!--panelbody-->
</div>