<table class="table table-striped table-hover" id="vaporListTable">
	<thead>
		<tr>
			<% _.each({vapor:id,title:title,module:module,status:status,dev:dev,pi:pi,tr:tr},function(attr,name) { %>
			<th>
			<div class="btn-group">
				<button type="button" class="btn btn-default"><%= name %>
					 <i class="fa fa-sort"></i>
				</button>
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="<%= name %>_dd">
					<span class="caret"></span>
					<span class="sr-only">Toggle Dropdown</span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<% _.each(attr,function(value) { %>
					<li><%= value %></li>
					<% }); %>
				 </ul>
			</div>
			</th>
			<% }); %>

		</tr>
	</thead>
	<tbody>
	</tbody>
</table>