<table class="table table-striped table-hover" id="vaporListTable">
	<thead>
		<tr>
			<th>
			<div class="btn-group">
				<button type="button" class="btn btn-default">vapor 
					 <i class="fa fa-sort"></i>
				</button>
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else here</a></li>
					<li class="divider"></li>
					<li><a href="#">Separated link</a></li>
				 </ul>
			</div>
			</th>
			<th>
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">title 
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
							<li>
								<form class="navbar-right" role="search">
									<input type="text" class="form-control" placeholder="search">
								</form>
							</li>
					</ul>
				</div>
			</th>
			<th>
				<div class="btn-group">
					<button type="button" class="btn btn-default">module 
						<i class="fa fa-sort"></i>
					</button>
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
					<span class="sr-only">Toggle Dropdown</span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li class="divider"></li>
						<li><a href="#">Separated link</a></li>
					 </ul>
				</div>
			</th>
			<th style="width:auto;">
				<div class="btn-group">
					<button type="button" class="btn btn-default">status 
						<i class="fa fa-sort"></i>
					</button>
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
					<span class="sr-only">Toggle Dropdown</span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li class="divider"></li>
						<li><a href="#">Separated link</a></li>
					 </ul>
				</div>
			</th>
			<th>
				<div class="btn-group">
					<button type="button" class="btn btn-default">dev 
						<i class="fa fa-sort"></i>
					</button>
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
					<span class="sr-only">Toggle Dropdown</span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li class="divider"></li>
						<li><a href="#">Separated link</a></li>
					 </ul>
				</div>
			</th>
			<th>
				<div class="btn-group">
					<button type="button" class="btn btn-default">pi 
						<i class="fa fa-sort"></i>
					</button>
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
					<span class="sr-only">Toggle Dropdown</span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li class="divider"></li>
						<li><a href="#">Separated link</a></li>
					 </ul>
				</div>
			</th>
			<th>
				<div class="btn-group">
					<button type="button" class="btn btn-default">tr 
						<i class="fa fa-sort"></i>
					</button>
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
					<span class="sr-only">Toggle Dropdown</span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li class="divider"></li>
						<li><a href="#">Separated link</a></li>
					 </ul>
				</div>
			</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>